<form id="confirm" class="form-horizontal">
  <fieldset>
    <div class="control-group">
      <!--  -->
      <label class="control-label"  for="zipcode">Enter to Zip Code to accept Chllenge</label>
      <div class="controls">
        <input type="text" id="zipcode" name="zipcode" placeholder="" class="input-xlarge">
      </div>
    </div>
 
    <div class="control-group">

      <!-- Button -->
      <div class="controls">
        <button id ='acceptButton' class="btn btn-success">Accept</button>
      </div>
    </div>

      <!-- Button -->
      <div class="controls">
        <button id ='cancelButton' class="btn btn-success">Cancel</button>
      </div>    

  </fieldset>
</form>
