.ui-content .ui-listview-inset {
	margin: 0;
}

.ui-content {
	padding:0;
}

.mission-li {
	background-size: cover;
background-position: center;
}

.ui-li-static.ui-li-has-arrow.mission-li {
	padding: 0;
	margin: 0;
border: none;
border-radius: 0;
}

.ui-li-static.ui-li.mission-inner-li {
	background-color: rgba(20,20,20,0.5);
	border-width: 0;
	border-radius: 0;
}

.ui-li-static.ui-li.mission-inner-li:hover {
	background-color: rgba(20,20,20,0.2);
}

.ui-btn-up-a a.ui-link-inherit {
	color: white;
}

.ui-header, .ui-footer {
	background: none;
	background-color: white;
	background-color: rgb(238, 86, 65);
	color: #444;
}

.ui-header .ui-title, .ui-footer .ui-title { 
	margin: 20px;
}

.ui-header .ui-title, .ui-footer .ui-title {
	color:white;
}

.mission-text {
	text-shadow: #000 0 1px 2px;
	font-size: 30pt;
}

.item-image {
	width: 100px;
	height: 100px;
}