<script type="text/javascript">
  function singleMissionTemplate(name, description) {
    var data = '<ul data-role="listview" data-inset="true" data-divider-theme="a">';
    data +=    '  <li data-role="list-divider">' + name + '</li>';
    data +=    '  <li data-icon="gear"><a href="">' + description + '</a></li>';
    data +=    '</ul>';
    return data;
  }

  function populateList() {
    var urlRequest = 'http://localhost/~molobit/opSears/demo.php?cmd=missionList'; 
    megajax(urlRequest, null, function(data) {
      console.log(data);      
    });
  }

  function main() {
    console.log('running ...');
    var missionListData = singleMissionTemplate();
    populateList();
    jQuery('#missionListContainer').html(missionListData).trigger("create");

  }

  $(document).ready(jQuery.proxy(function() {
    main();
  }, this));

</script>

